@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    @if (!string.IsNullOrEmpty(Model.Username))
    {
        <p>Hello @Model.Username</p>
    }
</div>
